body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 1.25em;
}

h2.results-header {
  font-weight: normal;
}

button:hover,
input[type="submit"] {
  cursor: pointer;
}

p button,
button + button,
#searchForm input {
  margin-left: 0.5em;
}

#searchForm {
  display: inline;
}

.stories li {
  margin-bottom: 0.5em;
}

.stories small {
  display: block;
}
